<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:task="http://www.springframework.org/schema/task"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd


   http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.2.xsd">

    <!-- 定时任务 -->
    <bean id="reconciliationTask" class="com.roncoo.pay.app.reconciliation.ReconciliationTask"/>
    <task:scheduled-tasks>
        <!-- 每天上午10点15分触发 -->
        <task:scheduled ref="reconciliationTask" method="main" cron="0 15 10 * * ?"/>
    </task:scheduled-tasks>


</beans>